/*
Team Name -- Yuqing Wu, Andrew Juang, Patrick Ging, Eliza Knapp
SoftDev
P01 -- ArRESTed Development
2021-12-07
*/

.basic_blue {
  color: #5867DD;
}

.navbar_colors {
  background-color: #242939;
}

.profile {
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right:auto;
}

.info {
  color: #9C9EB0;
}

.stock {
  color: black;
  font-size: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.lottery {
  background-color: #C1F0EB;
  font-size:25px;
  color: black;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.gain_money {
  background-color: #FF7376;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

.lose_money {
  background-color: #C1F0EB;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.reminder {
  color: #9C9EB0;
  font-size: 15px;
}