/*
Team Name -- Yuqing Wu, Andrew Juang, Patrick Ging, Eliza Knapp
SoftDev
P01 -- ArRESTed Development
2021-12-07
*/

.header {
  color: #5867DD;
}

.new_user {
  color: #9C9EB0;
  font-size: 15px;
}

.sign_in {
  width: 50%;
  margin-left: auto;
  margin-right:auto;
  color: #636576;
  font-size: 20px;
}

.small_label {
  font-size: 15px;
}

.problem {
  background-color: #FF7376;

}

.create_success {
  background-color: #C1F0EB;
}
