/*
Team Name -- Yuqing Wu, Andrew Juang, Patrick Ging, Eliza Knapp
SoftDev
P01 -- ArRESTed Development
2021-12-07
*/

.sell_message {
  background-color: #C1F0EB;
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.buy_size {
  font-size: 20px;
}
