<!DOCTYPE html>
<!--
Name -- Andrew Juang, Eliza Knapp, Patrick Ging, Yuqing Wu
SoftDev
P01 -- The Biggest Loser
-->

<html>
    <head>
        <title> Buy Stocks </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>

    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/manage_stocks">Manage Stocks</a></li>
      <li><a href="/buy_stocks">Buy Stocks</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    
    <h1>{{error}}</h1>
    <h3>{{stock_info}}</h3>
    <form action="/search" method="post">
      <label for="search">Search for a stock using symbol:</label><br>
      <input type="text" name="search">
      <input type="submit">
    </form>

    <body>
        <h1 class="header"> Buy Stocks! </h1>
    </body>

</html>
