<!DOCTYPE html>
<!--
Name -- Andrew Juang, Eliza Knapp, Patrick Ging, Yuqing Wu
SoftDev
P01 -- The Biggest Loser
-->

<html>
    <head>
        <title> Manage Stocks </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/global.css">
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">    
        <link rel="stylesheet" type="text/css" href="../static/css/manage_stocks.css">    
    </head>

    <!-- NAVBAR -->
    <div class="navbar_colors">
        <nav class="navbar navbar-expand-lg navbar-dark text-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">THE BIGGEST LOSER</a>
                <!-- BUTTON DOESN'T WORK BC NO JS BUT LIKE FOR FUN... -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">My Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manage_stocks">Manage Stocks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/buy_stocks">Buy Stocks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item list-group-item-black">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <body class="bg-light">
        <br>
        <div class="text-center">
            <h1 class="basic_blue"><b>MANAGE STOCKS</b></h1>
            <p class="reminder">Sell the stocks that are making money! Those won't do you any good...</p>
        </div>
        <br>

        <div class="sell_message">
            <h2>{{error}}</h2>
        </div>


        <div class="profile">
            <h3 class="info text-center">
                networth: ${{networth}}<br>
                cash: ${{cash}}
            </h3>
            <div class="stock text-center">
                <table class="table">
                    <thead>
                        <th class= "basic_blue" scope="col">Stocks</th>
                    </thead>
                    <tbody>
                        {% for stock in stocks%}
                        <tr>
                            <td>
                              <b>{{stock[0]}}</b>: {{stock[1]}} shares worth [${{stock[2]}}] in total
                              <form action="/sell_share" method="post">
                                  <input type="hidden" name="symbol" value="{{stock[0]}}">
                                  <input type="hidden" name="price" value="{{stock[3]}}">
                                  <input class="btn button_style rounded-pill" type="submit" value="Sell Some Shares">
                              </form>
                            </td>
                        </tr>
                        {%endfor%}
                      </tbody>
                  </table>
              </div>
        </div>

    </body>

</html>
