<!DOCTYPE html>
<!--
Name -- Andrew Juang, Eliza Knapp, Patrick Ging, Yuqing Wu
SoftDev
P01 -- The Biggest Loser
-->

<html>
    <head>
        <title> RESPONSE PAGE </title>
        <link rel="stylesheet" href="../static/bad.css">
    </head>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <body>
        <h1 class="header"> Name -- Andrew Juang, Eliza Knapp, Patrick Ging, Yuqing Wu <br>
            Waaaa hooo HAAAH, {{username}} </h1>
    </body>

</html>
