<!DOCTYPE html>
<!--
Name -- Andrew Juang, Eliza Knapp, Patrick Ging, Yuqing Wu
SoftDev
P01 -- The Biggest Loser
-->

<html>
    <head>
        <title> Sell Stock </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/global.css">
        <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">    </head>
        <link rel="stylesheet" type="text/css" href="../static/css/login.css">

    <!-- NAVBAR -->
    <div class="navbar_colors">
        <nav class="navbar navbar-expand-lg navbar-dark text-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">THE BIGGEST LOSER</a>
                <!-- BUTTON DOESN'T WORK BC NO JS BUT LIKE FOR FUN... -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">My Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/manage_stocks">Manage Stocks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/buy_stocks">Buy Stocks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leaderboard">Leaderboard</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item list-group-item-black">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <body class="bg-light">
        <br>
      <h1 class="text-center basic_blue"> <b>sell shares of {{symbol}}</b></h1>
        <br>
      <div class="text-center bg-white sign_in">
          <br>
          <h3>You have {{shares}} shares.</h3>
          <form action="/handle_sell_share" method="POST" class="standardBlock">
            <br>
            <div class="form-group small_label text-dark">
                <label for="num_shares">How many shares would you like to sell?</label>
                <input type="text" name="num_shares">
            </div>

            <input type="hidden" name="symbol" value="{{symbol}}">
            <input type="hidden" name="price" value="{{price}}">
            <br>
            <input class="btn button_style rounded-pill" type="submit" value="Sell Shares">
          </form>
          <br>
      </div>

    </body>

</html>
